
.image-flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img {
    width: 100px;
    height: auto; /* Adjust height as needed */
}

.image-flex img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    margin-right: 20px;
}

#date {
    font-weight: bold;
}

  .oi {
       white-space: pre-wrap;
    }
  